*{
    margin: 0px;
    padding: 0px;
    font-family:"open-sens",Arial,sans-serif;
    border: border-box;
}
body,html{
    height: 100%;
    width: 100%;
}
.nav-bar{
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    margin-right: 70px;
       
}
.nav-logo{
    height: 60px;
    width: 40%;
    margin-left: 80px;
    margin-right:100px ;
    
}
.logo{
    background-image: url(panda-logo.jpg);
    background-size: cover;
    height: 50px;
    width: 150px;
    margin-top: 7px;
}

.login-btn{
    background-color: white;
    color: #e21b70;
    border: 1px solid #e21b70 ;
    height: 32px;
    width: 70px;
    border-radius: 8px;
    font-size: 1rem;
}
.login-btn:hover{
    background-color: rgb(245, 231, 235);
    border: 2px solid #e21b70;
    
}
.login-btn a{
    text-decoration: none;
    color: #e21b70;
}
.signin-btn{
    background-color: white ;
    color:#e21b70;
    border: 1px solid #e21b70 ;
    height: 32px;
    width: 70px;
    border-radius: 8px;
    font-size: 1rem;
    
}
.signin-btn:hover{
    background-color:  rgb(245, 231, 235);
    border: 2px solid #e21b70;
}
.signin-btn a{
    text-decoration: none;
    color: #e21b70;
}
.EN-icon{
    height: 32px;
    width: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.85rem;
    justify-content: space-around;
    border-radius: 7px;    
}
.EN-icon:hover{
    background-color: rgb(245, 231, 235);
}
.EN-icon i{
    font-size: 1.2rem;
    height: 18px;
    width: 18px;
    color: black;
}
.EN{
    font-size: 15px;
    font-weight: 700;
}
.EN a{
    text-decoration: none;
    color: black;
}
.bag{
    height:44px;
    width: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}
.bag:hover{
    background-color: rgb(245, 231, 235);

}
.bag i{
    font-size: 1.5rem;
    color: #e21b70;
}
.bag a{
    color: #e21b70;
}
.hero-sec{
    height: 400px;
    width: 100%;
    background-color: rgb(241, 233, 233);
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
}
.hero-contant{
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 60px;
}
.hero-contant h1{
    margin-bottom: 40px;
    font-weight: 100;
}
.search-container{
    height: 80px;
    width: 100%;
    background-color: #ffffff;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-around;
}
.search-container input{
    height: 25px;
    width: 265px;
    border-radius: 10px;
    border: none;
    border: 1px solid rgb(223, 211, 211);
    padding: 12px 55px 12px 15px;
    
}
.search-container button{
    height: 50px;
    width: 95px;
    color: white;
    background-color: #e21b70;
    border: none;
    border-radius: 10px;
}
.search-container a{
    text-decoration: none;
    color: #ffffff;
}
.hero-image{
    height: 100%;
    width: 50%;
    background-image: url(panda-hero.jpg);
    background-size: cover;
}
.hero-sec2{
    height: 550px;
    width: 100%;
    margin-top: 70px;
}
.hero-msg{
    height: 60px;
    
    margin-left: 60px;
    margin-right: 60px;
    font-size:30px ;
}
.hero-image2{
    height: 450px;
    width: 100%;
    background-image: url(panda-hero2.jpg);
    background-size: cover;
}
.hero-art{
    height: 380px;
    width: 580px;
    display: flex;
    justify-content: flex-start;
    flex-direction:column;
    align-items: flex-start;
    margin-left: 50px;
    position:relative;
    bottom: 150px;
    border-radius: 15px;
    background-color: rgb(241, 233, 233);
}
.head{
    font-size:27px;
}
.hero-art p{
    margin-left:25px;
    margin-top: 30px;
    margin-right:25px;
    line-height: 25px;
}
.get-btn{
    height: 50px;
    width: 100px;
    margin-left: 25px;
    background-color: #e21b70;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 15px;
    margin-top: 25px;
    margin-bottom: 25px;
}
.get-btn a{
    text-decoration: none;
    color: #ffffff;
}
.art-2{
    height: 80px;
    margin-left: 60px;
    margin-right: 60px;
    font-size:33px;
    
}
.hero-bxes{
    height: 550px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-left: 50px;
    padding-right: 50px; 
}
.city a{
    text-decoration: none;
    color: #ffffff;
}
.box{
    height: 240px;
    width: 280px;
    border-radius: 10px;
    background-size: cover;
    display: flex;
    align-items: flex-end;
}
.city{
    height: 45px;
    width: 120px;
    background-color: #e21b70;
    color: black;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
    margin-bottom: 10px;
    font-size: 17px;
}
.city:hover{
    background-color: #e21b70;
    color: #ffffff;    
}
.hero-image3{
    height: 320px;
    padding-left:50px ;
    padding-right:50px ;
}
.image-3{
    height:250px;
    width: 910px;
    background-image: url(hero-page.jpg);
    background-size: cover;
    border-radius: 15px;
}
.hero-art2{
    height: 225px;
    width: 530px;
    display: flex;
    justify-content: flex-start;
    flex-direction:column;
    align-items: flex-start;
    margin-left: 50px;
    position:relative;
    bottom: 100px;
    border-radius: 15px;
    background-color: rgb(241, 233, 233);
}
.hero-art2 p{
    margin-left:25px;
    margin-top: 25px;
    margin-right:25px;
    line-height: 25px;
}
/* footer start */
footer{
    height: 520px;
    margin: 48px 0px 0px;
    padding:0px 48px 74px 
}
.foot-head{
    height: 55px;
    padding: 30px 0px;
    border-top:1px solid rgb(214, 207, 207);
    display: flex;
    flex-direction: row;
}
.foot-logo{
    height: 45px;
    width: 480px;
    margin: 10px 0px 0px;
}
.path{
    background-image:url(panda-logo.jpg);
    background-size: cover;
    height: 40px;
    width: 155px;  
}
.foot-icon{
    height: 40px;
    width: 430px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    
}
.foot-icon i{
    height: 33px;
    width: 33px;
    font-size: 2rem;
    margin-left:20px;
    
}
.foot-icon a{
    color: #767676;
}
.foot-icon a:hover{
    color: #e66aa0;
}
.copyright{
    margin-left:0px ;
}
.foot-contant{
    height: 217px;
    padding: 24px 0px;
    border-top:1px solid rgb(214, 207, 207);
    display: flex;
    justify-content: space-between;
}
.foot-contant ul{
    list-style: none ;
    
    
}
.foot-contant a {
    text-decoration:none;
    color: #767676;
    font-size: 0.75rem; 
}
.foot-contant li{
    margin-top: 10px;
}
.foot-contant a:hover{
    color: #e21b70;
}
.foot-end{
    height: 48px;
    padding: 32px 0px;
    border-top:1px solid rgb(214, 207, 207);
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    color: #767676;
}
.foot-end a{
    text-decoration:none;
    color: #767676;
    font-size: 1rem; 
}
.foot-end a:hover{
    color:#e21b70 ;
}
   /* complete project */



    


